<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
</head>

<section class="is-primary">
  <div class="hero-body">
    <p class="title">Messages</p>
  </div>
</section>

<section
  class="section is-flex is-flex-direction-column is-justify-content-space-between"
  style="height: calc(100vh - 56px)"
>
  <div class="container">
    <div class="field has-addons">
      <div class="control is-expanded">
        <span class="input-icon">
          <i class="fas fa-comment-dots"></i>
        </span>
        <input
          class="input"
          type="text"
          placeholder="Ketik pesan..."
          id="msg"
        />
      </div>
      <div class="control">
        <button class="button is-primary" id="sendbutton">
          Kirim <i class="fas fa-paper-plane"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="container chat-container">
    <div class="box chat-messages" id="log">
      <div class="message sent">Ini pesan terkirim</div>
      <div class="message received">Ini pesan yang diterima</div>
    </div>
  </div>
</section>
