body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f7f6;
  padding: 20px;
}

#buttonkirimaccount:hover {
    background-color: #3273dc; /* Ubah ke warna yang lebih terang untuk hover */
    color: #fff;
    transform: scale(1.05); /* Sedikit membesarkan tombol saat di-hover */
    transition: all 0.2s ease-in-out;
  }
  
  #buttonbatalaccount:hover {
    background-color: #ff3860; /* Ubah ke warna yang lebih terang untuk hover */
    color: #fff;
    transform: scale(1.05); /* Sedikit membesarkan tombol saat di-hover */
    transition: all 0.2s ease-in-out;
  }
  
.box {
  width: 50%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}
