/* Simpel dan modern untuk Tile */
.tile.is-parent {
  border: none;
  border-radius: 8px;
  padding: 12px;
  margin: 8px;
  background: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.tile.is-parent:hover {
  transform: translateY(-1px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.card {
  border: 1px solid #d3d3d3; /* Border halus */
  border-radius: 12px; /* Meningkatkan border radius untuk penampilan lebih modern */
  margin: 15px 0; /* Jarak antar card */
}

.card-header {
  border-bottom: 1px solid #e0e0e0; /* Garis bawah lembut */
}

.table td {
  border-bottom: 1px solid #f0f0f0;
}

.subtitle {
  font-family: 'Segoe UI', Tahoma, sans-serif; /* Font tipis dan bersih */
  font-size: 0.9rem;
  color: #666; /* Warna lembut */
  letter-spacing: 0.5px;
}


#todoIcon i { color: #007bff; }
#doingIcon i { color: #ffc107; }
#doneIcon i { color: #28a745; }
#poinIcon i { color: #ff5722; }

.loader-anim {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}
.svg {
  height: 100px;
  width: 100px;
}
.lingkaran {
  stroke: #00ffc8;
  stroke-width: 5px;
  fill: none;
  stroke-dasharray: 251;
  stroke-dashoffset: 251;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  0%,
  100% {
    stroke-dashoffset: 251;
  }
  50% {
    stroke-dashoffset: 0;
  }
  50.1% {
    stroke-dashoffset: 502;
  }
}

.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

.table-fixed thead{
  background-color: #b0b0b0;
  table-layout: auto;
  text-align: center; 
}

.table-fixed thead th {
  color: #000000; 
  font-weight: bold; 
  padding: 10px; 
}

.table-fixed thead th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* Membulatkan hanya ujung kanan */
.table-fixed thead th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}


