/* Link ke Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  background: linear-gradient(135deg, #4a90e2, #9013fe); /* Gradient background */
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.hero.is-fullheight {
  background-color: transparent;
}

.container {
  max-width: 600px;
  padding: 1rem;
}

.box {
  border-radius: 12px;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.avatar img {
  max-width: 400px;
  max-height: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

#avatar {
  display: flex;
  justify-content: center;  /*to make image center*/
  align-items: center;
  margin-bottom: 1rem;
}

.hero-title {
  color: #000;  /*color for title*/
  font-weight: 600;
}

.subtitle {
  color: #fff; /*color for subtitle*/
  margin-bottom: 1rem;
}

#btn {
  background-color: #6a1b9a;
  color: white;
  width: 100%;
  height: 48px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-transform: uppercase;
}

#btn:hover {
  background-color: #9013fe;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}   

#nama {
    display: flex;
    justify-content: center;
    align-items: center;
}
