.form-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-weight: 700;
  color: #3273dc;
  margin-bottom: 20px;
  margin-right: 10px; /* Ruang antara ikon dan teks judul */
  font-size: 1.5rem; /* Ukuran ikon */

}

.field {
  margin-bottom: 1.5rem;
}

.control .textarea:focus,
.control .input:focus {
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.button.is-primary:hover {
  background-color: #276cda;
}

.button.is-light:hover {
  background-color: #f5f5f5;
}

.icon.is-left {
  left: 10px;
}

.label {
  font-weight: 600;
  color: #4a4a4a;
}