<body>
  <div class="form-container">
    <h1 class="title">User Feedback</h1>
    
    <div class="field">
      <label class="label"  style=" font-size: 14px;"><i class=""></i> Project Name</label>
      <div class="control has-icons-left">
        <div class="select is-fullwidth">
          <select id="kode" name="projectName" style="border: none; border-bottom: 1px solid #000; width: 100%; outline: none; padding: 5px 0;" required>
            <option value="" disabled selected hidden >Select Project</option>
          </select>
          <span class="">
            <i class=""></i>
          </span>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label"  style=" font-size: 14px;" ><i class=""></i> Username</label>
      <div class="control has-icons-left">
        <input class="input" type="text" id="nama" placeholder="Product Owner Or Reviewer Name" required />
        <span class="">
          <i class=""></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label"  style=" font-size: 14px;" ><i class=""></i>WhatsApp Contact</label>
      <div class="control has-icons-left">
        <input class="input" type="tel" id="phone" placeholder="+6281234567890"  required />
        <span class="">
          <i class=""></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label"  style=" font-size: 14px;" ><i class=""></i>Feedback Questions</label>
      <div class="control">
        <textarea class="textarea" id="solusi" placeholder="Describe activities for feedback request" style="border: none; border-bottom: 1px solid #000; width: 100%; outline: none; padding: 5px 0;" required></textarea>
      </div>
    </div>

    <div class="field is-grouped" style="justify-content: center;">
      <div class="control">
        <button class="button is-link" id="buttonkirimaccount">Send</button>
      </div>
    </div>    
    </div>
  </div>

</body>
