<body>
  <div class="form-container">
    <h1 class="title">User Feedback</h1>
    
    <div class="field">
      <label class="label"><i class=""></i> Project Name</label>
      <div class="control has-icons-left">
        <div class="select is-fullwidth">
          <select id="kode" name="projectName" required>
            <option value="" disabled selected hidden >Select Project</option>   <!-- nambahin opsi yang kosong -->
            <option value="gobizid">Gobizid</option>
            <option value="domyext-signin">domyext-signin</option>
            <option value="domyext-home">domyext-home</option>
            <option value="domyext-dashboard">domyext-dashboard</option>
            <option value="domyext-api">domyext-api</option>
            <option value="domyext-auth">domyext-auth</option>
            <option value="domyext-tele">domyext-tele</option>
            <option value="domyext-manifest">domyext-manifest</option>
          </select>
          <span class="icon is-left">
            <i class=""></i>
          </span>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label"><i class=""></i> Username</label>
      <div class="control has-icons-left">
        <input class="input" type="text" id="nama" placeholder="Product Owner Or Reviewer Name" required />
        <span class="icon is-left">
          <i class=""></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label"><i class=""></i>WhatsApp Contact</label>
      <div class="control has-icons-left">
        <input class="input" type="tel" id="phone" placeholder="+6281234567890" required />
        <span class="icon is-left">
          <i class=""></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label"><i class=""></i>Feedback Questions</label>
      <div class="control">
        <textarea class="textarea" id="solusi" placeholder="Describe activities for feedback request" required></textarea>
      </div>
    </div>

    <div class="field is-grouped is-grouped-centered">
      <div class="control">
        <button class="button is-primary box btn-flex" id="tombolprogramtask">
          Send
        </button>
      </div>
    </div>
  </div>
</body>
