<body>
  <div class="form-container">
    <h1 class="title">User Feedback</h1>
    
    <div class="field">
      <label class="label"><i class=""></i> Project Name </label>
      <div class="control has-icons-left">
        <div class="select is-fullwidth">
          <select id="kode" name="projectName" required>
            <option value="Select Project">Select Project</option>
          </select>
          <span class="">
            <i class=""></i>
          </span>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label" style="color: black; font-size: 14px;">Username</label>
      <input id="nama" type="text" placeholder="Product Owner (Or Reviewer Name)" style="border: none; border-bottom: 1px solid #000; width: 100%; outline: none; padding: 5px 0;">
    </div>
  
    <div class="field">
      <label class="label" style="color: black; font-size: 14px;">WhatsApp Contact</label>
      <input id="phone" type="tel" placeholder="+6281234567890" style="border: none; border-bottom: 1px solid #000; width: 100%; outline: none; padding: 5px 0;">
    </div>
  
    

    <div class="field">
      <label class="label"><i class=""></i>Feedback  Questions</label>
      <div class="control">
        <textarea class="textarea" id="solusi" placeholder="Describe activities for feedback request" required></textarea>
      </div>
    </div>
  
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" id="buttonkirimfeedback">
          Send
        </button>
      </div>
    </div>    
  </div>
</body>