<h1 class="title"><i class=""></i> WORK COMPLETION REPORT</h1>
<div class="form-container">
    
    <div class="field">
      <label class="label"><i class="fas fa-folder"></i> Project Name</label>
      <div class="control has-icons-left">
        <div class="select is-fullwidth">
          <select id="project-name" name="projectName" required>
            <option>Select Project</option>
          </select>
          <span class="icon is-left">
            <i class="fas fa-briefcase"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label"><i class="fas fa-file-alt"></i> Description</label>
      <div class="control">
        <textarea class="textarea" id="solusi" placeholder="Write a description of the completed work" required></textarea>
      </div>
    </div>
    <div class="field is-grouped is-grouped-centered">
      <div class="control">
        <button class="button is-primary box btn-flex" id="tombolpublishtask">
          Send
        </button>
      </div>
    </div>
  </div>
</body>
